* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;

}

header, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
}

header h3 {
    color: #007bff;
}

main p {
    margin: 5px 0;
}

button {
    font-weight: 600;
    color: #fff;
    margin: 5vh 0;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #90c5fd;
    cursor: pointer;
    color: #007bff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer img {
    padding-bottom: 16px;
    width: 300px;
}

footer a img {
    margin: 5px 0;
    padding-bottom: 16px;
    width: 30px;
}